<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{fullName}}</title>
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="users-page">
      <h2 id="title">Welcome, {{fullName}}!</h2>
      <div
        class="back-btn-container"
        id="back-btn-container"
        style="display: none"
      >
        <button id="back-btn" class="button back-button">← Back</button>
      </div>
      <div class="btn-container">
        <button class="button" id="add-btn">Add Users</button>
        <button class="button" id="remove-btn">Remove Users</button>
      </div>

      <form
        action="/add-user"
        method="post"
        id="add-user"
        style="display: none; margin-top: 20px"
      >
        <label for="your-name">Enter your name</label>
        <input
          type="text"
          id="your-name"
          name="name"
          placeholder="Enter name"
        />
        <button class="button" type="submit" id="submit-user">Submit</button>
      </form>
      <br /><br />

      <div
        id="user-list"
        style="display: none; margin-top: 10px; position: relative"
      >
        <div style="position: absolute; right: 10px"></div>
        <h3>Saved Users</h3>
        <br />
        <ul id="user-container"></ul>
      </div>
      <br />

      <h2>Livestream</h2>
      <button class="button">Start Recording</button>
    </div>

    <!-- <script src="script.js"></script> -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
